<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plag Patrol</title>
    <link href="./styles.css" rel="stylesheet">
    <link rel="stylesheet" href="./bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Damion&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Racing+Sans+One&display=swap">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- <script src="./secondPage.js"></script> -->
    <!--------------squadfree header------------------------------>
  

    <!--------------/squadfree body header------------------------------>
  </head>
  <body>
    <h1 class="logo">PlagPatrol</h1>
    <h1 class="sub-logo">By Team Algorithm Avengers</h1>
    
    <!-- Begin Burger Menu -->
   <!--  <div class="navbar-brand">
      <div class="navbar-burger burger" data-target="mobile-nav">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
   
    
    <!- End Burger Menu -->
    
    <!-- <div id="mobile-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <a class="navbar-item" href="#home">
            Home
          </a>
        </div>
        <div class="navbar-item">
          <a class="navbar-item" href="#about-me">
            About Us
          </a>
        </div>
        <div class="navbar-item">
          <a class="navbar-item" href="#services">
            Services
          </a>
        </div>
        <div class="navbar-item">
          <a class="navbar-item" href="#skills">
            The Team
          </a>
        </div>
        <div class="navbar-item">
          <a class="navbar-item" href="#my-work">
            My Work
          </a>
        </div>
        <div class="navbar-item">
          <a class="navbar-item" href="#contact">
            Contact Us
          </a>
        </div>
      </div>
    </div>
    </nav>  -->
  
    <!-- End Mobile Nav -->
        <!-- <div class="button-container">
        <form>
          <label for="file">Upload File:</label>
          <input type="file" id="file">
          <button type="submit">Submit</button>
        </form>
        </div> -->
        <!-- <form>
          <label for="text">Enter Text:</label>
          <textarea id="text" name="text" rows="3" cols="41" placeholder="Type or paste your text here..."></textarea>
          <button type="submit">Submit</button>
        </form> -->
        <!-----------------------------------------text box----------------------------------->
        <div class="file-box">
          <label for="file-upload">Choose a file to upload:</label>
          <input id="file-upload" type="file" name="file-upload">
          <button type="submit">Upload</button>
        </div>
        
        <div class="text-box">
          <textarea placeholder="Type or paste your message here..."></textarea>
          <button type="submit">Send</button>
          
        </div>
        <script>
          const textBox = document.querySelector('.text-box');
          const textarea = textBox.querySelector('textarea');
           label = textBox.querySelector('label');

          textarea.addEventListener('focus', () => {
              label.classList.add('active');
          });

          textarea.addEventListener('blur', () => {
                if (!textarea.value) {
               label.classList.remove('active');
             }
              });
        </script>
        
        <script>
          const textbox = document.querySelector('#text-box');
          const observer2 = new IntersectionObserver(entries => {
            if (entries[0].isIntersecting) {
              textbox.classList.add('text-box--visible');
              observer2.unobserve(textbox);
            }
          }, { threshold: 0.5 });
          observer2.observe(textbox);
        </script>
        

        <!-----------------------------------------/text box---------------------------------->

    
    <!--------------------------------------------the team----------------------------------------------->
    <div class="wrap">
      <div class="box">
        <div class="box-top">
          <img class="box-image" src="C:\Users\ZAIN IQBAL\source\repos\GRAPHICS\logos\zain.png" alt="zain">
          <div class="title-flex">
            <h3 class="box-title">Zain Iqbal</h3>
            <p class="user-follow-info">Front-End</p>
          </div>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <a href="#" class="button">Follow Zain</a>
      </div>
      <div class="box">
        <div class="box-top">
          <img class="box-image" src="C:\Users\ZAIN IQBAL\source\repos\GRAPHICS\logos\eehab.png" alt="eehab">
          <div class="title-flex">
            <h3 class="box-title">Eehab Sadaat</h3>
            <p class="user-follow-info">Back-End</p>
          </div>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <a href="#" class="button">Follow Eehab</a>
      </div>
      <div class="box">
        <div class="box-top">
          <img class="box-image" src="C:\Users\ZAIN IQBAL\source\repos\GRAPHICS\logos\fayyez.jpeg" alt="fayyez">
          <div class="title-flex">
            <h3 class="box-title">Fayyez Farrukh</h3>
            <p class="user-follow-info">Back-End</p>
          </div>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <a href="#" class="button">Follow Fayyez</a>
      </div>
      <div class="box">
        <div class="box-top">
          <img class="box-image" src="C:\Users\ZAIN IQBAL\source\repos\GRAPHICS\logos\ahmed.png" alt="ahmed">
          <div class="title-flex">
            <h3 class="box-title">Ahmed Karim</h3>
            <p class="user-follow-info">Web Scraper</p>
          </div>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <a href="#" class="button">Follow Ahmed</a>
      </div>
    </div>
    <!-------------------------------------------/the team---------------------------------------------->

    
    <!-----------------------------our vision------------------------->
   <div class="vision-section"  id="vision-section">
    <h2>Our Vision</h2>
    <p>Plag Patrol aims to prevent academic dishonesty, protect intellectual property, and maintain originality and quality in writing.</p>
    <p> It can be utilised in a plethora of real-life scenarios such as by students and teachers to calculate plagiarism for a submitted assignment or text.</p>
  
  
   <!-----------------------------/our vision------------------------->
    
    </div>
    <!---------------------for the team div ------------------------>
    <script>
    /* $(window).scroll(function() {
    var windowBottom = $(this).scrollTop() + $(this).innerHeight();
    var sectionTop = $('.wrap').offset().top;
    
    if (windowBottom > sectionTop) {
      $('.wrap').addClass('show');
    }
    }); */
    $(window).scroll(function() {
    console.log("Scrolling detected"); // Add this line to check if the script is running
   $('.wrap').addClass('show');
    });
    </script>
  
   <!---------------------for the vision div ---------------------->
    <script>
    const visionSection = document.querySelector('#vision-section');
    const observer = new IntersectionObserver(entries => {
      if (entries[0].isIntersecting) {
        visionSection.classList.add('vision-section--visible');
        observer.unobserve(visionSection);
      }
    }, { threshold: 0.2 });
    observer.observe(visionSection);
    </script>
  
  
    <!-- <footer class="languages" style="background-color: #db6930;">
      <div class="languages">
        <a href="#"><img src="./logos/facebook.png" alt="Facebook"></a>
        <a href="#"><img src="./logos/youtube.png" alt="YouTube"></a>
        <a href="#"><img src="./logos/instagram.png" alt="Instagram"></a>
        <a href="#"><img src="./logos/twitter.png" alt="Twitter"></a>
      </div>
    </footer> --> 


      <!-- Site footer 1 -->
      <!-- <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>About</h6>
              <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Categories</h6>
              <ul class="footer-links">
                <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
                <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
                <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
                <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
                <li><a href="http://scanfcode.com/category/android/">Android</a></li>
                <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
              </ul>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Quick Links</h6>
              <ul class="footer-links">
                <li><a href="http://scanfcode.com/about/">About Us</a></li>
                <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
           <a href="#">Scanfcode</a>.
              </p>
            </div>
  
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
              </ul>
            </div>
          </div>
        </div>
    </footer>
 
   <header>
    <! Content -->
  
    <!-- ------------------------------------------Vertical Scrolling Text  --------------------------------------------- -->

    <div class="scrolling-text">
      <div class="languages">
      
      
          <img src="C:\Users\ZAIN IQBAL\source\repos\GRAPHICS\logos\css.png" alt="css">
          <img src="C:\Users\ZAIN IQBAL\source\repos\GRAPHICS\logos\html.png" alt="html">
          <img src="C:\Users\ZAIN IQBAL\source\repos\GRAPHICS\logos\javascript.png" alt="javascript">
          <img src="C:\Users\ZAIN IQBAL\source\repos\GRAPHICS\logos\python.png" alt="python">
          <img src="C:\Users\ZAIN IQBAL\source\repos\GRAPHICS\logos\flask.png" alt="flask">
      </div>

    <div class="scrolling-words-container">
      <div class="scrolling-words-box">
        <ul>
          <li style="color: #ea4335">Originality</li>
          <li style="color: #4285f4">Uniqueness</li>
          <li style="color: #34a853">Authenticity</li>
          <li style="color: #fbbc04">Integrity</li>
          <li style="color: #ea4335">Validity</li>
        </ul>
      </div>
      <span style="color: #5f6368">for your content</span>
    </div>
    </div>
    <!-- -----------------------------------------/Vertical Scrolling Text  --------------------------------------------- -->
  </body>
    <!-- ------------------------------------------footer  --------------------------------------------- -->
 
   <footer class="footer">
    <div class="footer__addr">
      <h1 class="footer__logo">Plag Patrol</h1>
          
      <h2>Contact</h2>
      
      <address>
        FAST-NUCES LAHORE<br>
            
        <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
      </address>
    </div>
    
    <ul class="footer__nav">
      <li class="nav__item">
        <h2 class="nav__title">Media</h2>
  
        <ul class="nav__ul">
          <li>
            <a href="#">Online</a>
          </li>
  
          <li>
            <a href="#">Print</a>
          </li>
              
          <li>
            <a href="#">Alternative Ads</a>
          </li>
        </ul>
      </li>
      
      <li class="nav__item nav__item--extra">
        <h2 class="nav__title">Technology</h2>
        
        <ul class="nav__ul nav__ul--extra">
         <!--  <li>
            <a href="#">Hardware Design</a>
          </li>
          
          <li>
            <a href="#">Software Design</a>
          </li>
          
           <li>
            <a href="#">Digital Signage</a>
          </li>
          
          <li>
            <a href="#">Automation</a>
          </li>
          
          <li>
            <a href="#">Artificial Intelligence</a>
          </li>
          
          <li>
            <a href="#">IoT</a>
          </li> --> 
        </ul>
      </li>
      
      <li class="nav__item">
        <h2 class="nav__title">Legal</h2>
        
        <ul class="nav__ul">
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          
          <li>
            <a href="#">Terms of Use</a>
          </li>
          
          <li>
            <a href="#">Sitemap</a>
          </li>
        </ul>
      </li>
    </ul>
    
    <div class="legal">
      <p>&copy; 2023 Algorithm Avengers. All rights reserved.</p>
      
      <div class="legal__links">
        <span>Made with <span class="heart">♥</span> remotely from FAST-NUCES</span>
      </div>
    </div>
    <div class="space"></div>
  </footer> 
  <!-------------------------------------------/footer------------------------------------------------->
  <footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <div class="container">
        <small>
          <span>©
            <a href="https://github.com/eehab-saadat/PlagPatrol">PlagPatrol</a>
          </span>
        </small>
      </div>
    </nav>
  </footer>
</html>